# yaml-language-server: $schema=https://raw.githubusercontent.com/fadrian06/phpstan/add-schema/schema.json

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - app
    - public
    - resources/views
    - routes
